#L_Showmsg{
    border-top:0.026667rem solid #ccc;
    width:100%;
    font-size:0.373333rem;
    background:#fff;
    position: absolute;
    z-index:100;
    right:0;
    bottom:0;
    height:9.24rem;
    padding:0.346667rem;
   

    ul{
       
        height:100%;
        li{
             width:100%;
            

            p{
               height:0.9rem;
               
            }
        }
    }
     .determine{
        margin-top: 0.533333rem;
        height:1.24rem;
        line-height:1.24rem;
        font-size:0.466667rem;
        color:#fff;
        margin-top:0.666667rem;
    }
   

    
}
